<template name="topicsShow">
  {{> alertsLogin }}
  {{# with topic }}
    <div class="container">
      <br>
      <h4 class="center">{{ title }}</h4>
      <p class="center">{{ description }}</p>
      {{# if hidden }}
        <p class="grey-text center">
          {{ i18n 'lib.topicHidden' }}
        </p>
      {{/ if }}
      {{# if content }}
        <div class="row">
          <div class="col s12 m12 l10 offset-l1">
            <div class="divider"></div><br>
            {{{ content }}}
          </div>
        </div>
      {{/ if }}
      <br>
      {{# if hasQuestions }}
        <table class="questions hoverable responsive-table">
          <thead>
            <tr>
              <td><b>{{ i18n 'questions.title' }}</b></td>
              <td><b>{{ i18n 'lib.yes' }}</b></td>
              <td><b>{{ i18n 'lib.no' }}</b></td>
              <td><b>{{ i18n 'lib.abstention' }}</b></td>
            </tr>
          </thead>
          {{# each questions }}
            <tr>
              <td>{{ title }}</td>
              <td>
                {{# unless ../hidden }}
                  {{# if currentUser }}
                    {{# if currentUser.isVerified }}
                      {{# if userVoteIs currentUser._id 'yes' }}
                        <input name="vote-{{ _id }}" type="radio" value="yes" id="vote-yes-{{ _id }}" checked/>
                      {{ else }}
                        <input name="vote-{{ _id }}" type="radio" value="yes" id="vote-yes-{{ _id }}"/>
                      {{/ if }}
                    {{ else }}
                      <input name="vote-{{ _id }}" type="radio" value="yes" id="vote-yes-{{ _id }}" disabled/>
                    {{/ if }}
                  {{ else }}
                    <input name="vote-{{ _id }}" type="radio" value="yes" id="vote-yes-{{ _id }}" disabled/>
                  {{/ if }}
                {{/ unless }}
                <label for="vote-yes-{{ _id }}">{{ getCount 'yes' }}</label>
              </td>
              <td>
                {{# unless ../hidden }}
                  {{# if currentUser }}
                    {{# if currentUser.isVerified }}
                      {{# if userVoteIs currentUser._id 'no' }}
                        <input name="vote-{{ _id }}" type="radio" value="no" id="vote-no-{{ _id }}" checked/>
                      {{ else }}
                        <input name="vote-{{ _id }}" type="radio" value="no" id="vote-no-{{ _id }}"/>
                      {{/ if }}
                    {{ else }}
                      <input name="vote-{{ _id }}" type="radio" value="no" id="vote-no-{{ _id }}" disabled/>
                    {{/ if }}
                  {{ else }}
                    <input name="vote-{{ _id }}" type="radio" value="no" id="vote-no-{{ _id }}" disabled/>
                  {{/ if }}
                {{/ unless }}
                <label for="vote-no-{{ _id }}">{{ getCount 'no' }}</label>
              </td>
              <td>
                {{# unless ../hidden }}
                  {{# if currentUser }}
                    {{# if currentUser.isVerified }}
                      {{# if userVoteIs currentUser._id 'abstention' }}
                        <input name="vote-{{ _id }}" type="radio" value="abstention" id="vote-abstention-{{ _id }}" checked/>
                      {{ else }}
                        <input name="vote-{{ _id }}" type="radio" value="abstention" id="vote-abstention-{{ _id }}"/>
                      {{/ if }}
                    {{ else }}
                      <input name="vote-{{ _id }}" type="radio" value="abstention" id="vote-abstention-{{ _id }}" disabled/>
                    {{/ if }}
                  {{ else }}
                    <input name="vote-{{ _id }}" type="radio" value="abstention" id="vote-abstention-{{ _id }}" disabled/>
                  {{/ if }}
                {{/ unless }}
                <label for="vote-abstention-{{ _id }}">{{ getCount 'abstention' }}</label>
              </td>
            </tr>
          {{/ each }}
        </table>
      {{/ if }}
      <br>
      <div class="row">
        <div class="col s12 m12 l10 offset-l1">
          <div class="fb-comments" data-href="{{ urlFor 'topics.show' }}" data-numposts="5" data-colorscheme="light" data-order-by="social" data-width="100%"></div>
        </div>
      </div>
    </div>
  {{ else }}
    {{> loading }}
  {{/ with }}
</template>